/*
 * File Created: Wednesday, 3rd August 2022 9:53:41 pm
 * Author: Chenzier Kabrabam
 * -----
 * Last Modified: Wednesday, 3rd August 2022 10:01:10 pm
 * Modified By: Chenzier Kabrabam
 * -----
 * Copyright 2022
 */

node_modules
.env
build